body {
    background-color: #3aafa9;
  }
  
  figure {
    display: inline-block;
    margin: 20px;
  }

  figure img {
    vertical-align: top;
  }

  h1 {
    color: white;
    text-align: center;
    border: dotted;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .caption{position:relative; top:-45px; height:20px; left:8px; color:#ffff}
  .container .caption{display:block;}

  p {
    font-family: verdana;
    font-size: 20px;
  }

  button {
      float: right;
      padding: 50px;
  }