body {
    background-image: url('dark_wood.png');
}

p {
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
}

a {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.Box {
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
    background-color: #8E41D5;
}

#Header {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    border-right-color: #ff0000;
    border-left-color: #ffff00; 
    border-top-color: #0000ff;
    border-bottom-color: #00ff00;
}

#Header h1 {
    font-size: 60px;
    font-family: "Passion One";
    color: #FFBC00;
    font-weight: bold;
}

#LeftNav {
    width: 400px;
    float: left;
    padding-bottom: 8px;
}

#Content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#Content img {
    border-radius: 100px;
}

#Content span {
    font-size: 20px;
    color: #FFBC00;
    font-weight: bold;
}